@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container-max {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
